body {
  max-width: 100%;
  height: 100%;
  background-color: lightblue;
  
}
nav {
  text-align: center;
  font-size: 6mm;
}
h1 {
    color: red;
    background-color: bisque;
    font-family: sans-serif;
    text-align: center;
    
}
h2 {
  font-family: sans-serif;
    text-align: center;
    font-size: 6mm;
}
ul {

  font-size: 150%
}

li {
    color: black;
    list-style: none;
    display: block;
    margin: 0px 20px;
    text-align: center;
  }
 
.city {
  background-color: yellowgreen;
  color: white;
  border: 5px solid black;
  border-style: dashed;
  margin: 10px;
  padding: 20px;
  display: block;
  text-align: center;
}

#div {
    width: auto;
    text-align: center;
    padding: 15px; 
    display: inline-block;
    }
#img {
    max-width: 20%;
    height: 20%;
    
    }
    footer {
      text-align: center;
      font-size: 8mm;
    }